body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8dfe6;
}

h2 {
    color: #343a40;
    padding: 20px;
    margin-top: 0;
}

footer {
    flex-direction: center;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.link a {
    color: #fff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.menu-bar {
    background-color: #333;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    display: -webkit-inline-box;
}

.menu-bar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-bar a:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin-bottom: 5px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 50px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    /* Adjust table for smaller screens */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 6px;
    }
}
